.tic-grid {
  display: grid;
  grid-template-columns: auto auto auto;
  padding: 10px
}

.cell {
  display: flex;
  background-color: rgba(255, 255, 255, 0.8);
  border: 1px solid rgba(0, 0, 0, 0.8);
  padding: 20px;
  font-size: 30px;
  text-align: center;
  min-height: 180px;
  min-width: 180px;
  align-items: center;
  justify-content: center;
}

.stats-title {
  font-weight: 700;
  text-decoration: underline;
}
.cell:nth-child(1) {
  border-top: none;
  border-left: none;
}

.cell:nth-child(2) {
  border-top: none;
}

.cell:nth-child(3) {
  border-top: none;
  border-right: none;
}

.cell:nth-child(4) {
  border-left: none;
}

.cell:nth-child(6) {
  border-right: none;
}

.cell:nth-child(7) {
  border-left: none;
  border-bottom: none;
}

.cell:nth-child(8) {
  border-bottom: none;
}

.cell:nth-child(9) {
  border-right: none;
  border-bottom: none;
}